<%# add navigation links to this file %>
<li><%= nav_link 'Overview', root_path %></li>
<li><%= nav_link 'Recurring', recurring_path %></li>
<li><%= nav_link 'One-Time', onetime_path %></li>
<li><%= nav_link 'Affiliate', affiliate_path %></li>
